body {
  font: normal 100% Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #585859;
  overflow-y: scroll;
}
ul,
ol,
li {
  margin-bottom: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
  margin-top: 0;
}
p {
  margin: 0 0 ;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: 0;
}
.text-sl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.yd-main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
}
.yd-main img {
  width: 100%;
  height: 100%;
}
.yd-main .login-btn {
  display: block;
  position: fixed;
  top: 45%;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 70px;
  line-height: 70px ;
  z-index: 1;
}
.yd-main .login-btn button {
  display: block;
  background: #37a9e7;
  color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
}
.yd-main .login-btn button:hover {
  background: #3a5f98;
  border: none;
}
/*登录页*/
.mainConBox {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.nav-wrap {
  width: 100%;
  border-bottom: 1px solid #c5c3c3;
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.nav-wrap .ebooks-logo {
  padding: 0px 10px;
  display: inline-block;
  width: auto;
  height: 100%;
}
.nav-wrap .ebooks-logo img {
  width: auto;
  height: 100%;
}
.nav-wrap .login-txt {
  height: 100%;
  line-height: 100%;
}
.formBox1 {
  width: 50%;
  margin: 25px auto;
  font-size: 1em;
}
.formBox1 .form-group {
  height: auto;
  padding: 5px 0;
}
.formBox1 .form-group label {
  vertical-align: middle;
  line-height: 1.42857143;
  padding-top: 10px;
}
.formBox1 .form-group .form-control {
  height: auto;
  padding: 10px 5px;
  border-radius: 1px;
  font-size: 14px;
}
.formBox1 .form-group .form-control:hover {
  border: 1px solid #c9c9c9;
}
.formBox1 .form-group ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-size: 12px;
}
.formBox1 .form-group  :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
}
.formBox1 .form-group ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
}
.formBox1 .form-group :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-size: 12px;
}
.formBox1 .form-group .tx-icon {
  width: 6px;
  height: 6px;
  background: url("../images/tx-icon.png") 0 0 no-repeat;
  vertical-align: middle;
  margin-top: 15px;
  margin-left: 5px;
}
.formBox1 .form-group .right-txt {
  padding-top: 8px;
}
.formBox1 .form-group .right-txt span {
  padding: 0 20px 0 10px;
}
.formBox1 .btn {
  width: 100%;
  font-size: 1.1em;
  background: #d70c30;
  color: #fff;
}
.formBox1 .btn:hover {
  background: #c00203;
  color: #fff;
}
.formBox1 .from-no-bottom {
  margin-bottom: 5px;
}
.formBox1 .form-group-txt {
  font-size: 0.874em;
  overflow: hidden;
}
.formBox1 .form-group-txt span {
  line-height: 22px;
}
.formBox1 .form-group-txt a {
  padding-top: 8px;
  display: inline-block;
}
.formBox2 {
  margin: 10% auto;
}
.formBox2 .btn {
  margin-top: 20px;
}
.no-padding-r {
  padding-right: 0px;
}
/*首页 导航*/
.mianNav-wrap {
  background: #37a9e7;
  width: 100%;
  height: auto;
}
.main-navBox {
  color: #fff;
  position: relative;
  font-weight: bold;
}
.main-navBox a {
  color: #fff;
  font-weight: bold;
}
.main-navBox .navbar {
  margin-bottom: 0px;
}
.main-navBox .navbar-right {
  font-size: 16px;
}
.main-navBox .navbar-right a:hover {
  color: #37a9e7;
}
.main-navBox .back-left {
  width: 20px;
  height: 25px;
  display: inline-block;
  background: url("../images/back-left-icon.png") 0 0 no-repeat;
}
.main-navBox .menu-right {
  width: 25px;
  height: 25px;
  display: inline-block;
  background: url("../images/menu-right-icon.png") 0 0 no-repeat;
}
/*首页搜索*/
.searchBoxwrap {
  margin: 20px auto;
  height: auto;
  background: #eff0f1;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px ;
}
.searchBox .navbar-form {
  width: 100%;
}
.searchBox .navbar-form .form-group {
  width: 80%;
}
.searchBox .navbar-form .search-input {
  width: 100%;
  height: 45px;
}
.searchBox .btn-green {
  background: #86b942;
  color: #fff;
  font-size: 18px;
  margin: 0 5px;
  font-weight: bold;
}
.searchBox .search-icon {
  width: 30px;
  height: 25px;
  display: inline-block;
  background: url("../images/search-icon.png") 0 0 no-repeat;
  margin-right: 5px;
  vertical-align: middle;
}
.hot-search {
  padding: 5px 15px;
  font-weight: bold;
  overflow: hidden;
}
.hot-search p {
  float: left;
  padding-top: 4px;
}
.hot-search label {
  padding-left: 0;
  font-weight: bold;
}
.hot-search .search-label {
  padding-left: 32px;
}
.searchBox2 {
  overflow: hidden;
  width: 30%;
  float: right;
  margin: 10px 0;
}
.searchBox2 .navbar-form {
  padding: 5px 15px 0px;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.searchBox2 .navbar-form .form-group {
  width: 100%;
}
.searchBox2 .navbar-form .search-input {
  height: 30px;
  width: 100%;
  border-radius: 15px;
}
.searchBox2 .navbar-form .btn {
  background: none;
  position: absolute;
  top: 0px;
  right: 5px;
}
.searchBox2 .navbar-form .search-icon {
  width: 30px;
  height: 25px;
  display: inline-block;
  background: url("../images/search-icon-gray.png") 0 0 no-repeat;
  margin-right: 5px;
  vertical-align: middle;
}
/*通知*/
.import-news .panel-heading {
  background: #f95902;
  border: 0;
  color: #fff;
}
.import-news .list-group a {
  display: block;
  color: #7e7e7e;
}
.import-news .list-group a span {
  float: right;
  background: #f95902;
  padding: 3px 20px;
  color: #fff;
  border-radius: 5px;
}
.import-news .list-group a:hover {
  color: #37a9e7;
  text-decoration: none;
}
/*首页 主内容*/
.containerBox .panel-heading {
  font-weight: bold;
}
.containerBox .navToggle-con {
  margin: 10px ;
}
.containerBox .list-group {
  overflow: hidden;
}
.containerBox .list-group li {
  border: 0;
  height: 35px;
  line-height: 35px;
  padding: 0 0;
}
.containerBox .list-group li span {
  float: right;
  display: inline-block;
}
.containerBox .list-group li a {
  display: block;
  padding: 0 5px;
}
.containerBox .list-group li:nth-child(odd) {
  background: #f5f5f5;
}
.containerBox .navToggle-title-noxs {
  background: #f5f5f5;
  border: 1px solid #9d9d9e;
  overflow: hidden;
  padding: 10px 5px;
}
.containerBox .navToggle-title-noxs .list-l {
  float: left;
  width: 31.33333333%;
  margin: 0 1%;
  text-align: center;
  background: #fff;
  padding: 5px ;
  border: 1px solid #9d9d9e;
  border-radius: 5px;
  color: #5c5c5c;
  font-size: 1em;
}
.containerBox .navToggle-title-noxs .list-l:hover,
.containerBox .navToggle-title-noxs .list-l.cur {
  color: #fff;
  background: #37a9e7;
  border: 1px solid #3a5f98;
}
.containerBox .panel-body p {
  padding: 5px 0;
  line-height: 20px;
}
/*书籍列表*/
.picList-box {
  margin: 40px auto;
  overflow: hidden;
}
.picList-box .thumbnail {
  background: #f5f5f5;
  border-radius: 0px;
}
.picList-box .thumbnail img {
  border: 1px solid #ddd;
}
.picList-box .thumbnail .caption {
  padding: 9px 0 0 0;
  overflow: hidden;
}
.picList-box .thumbnail .caption p {
  line-height: 22px;
}
.picList-box .thumbnail .caption .little-word {
  font-size: 0.75em;
}
.picList-box .thumbnail .bottom-con {
  padding-top: 30px;
  overflow: hidden;
}
.picList-box .thumbnail .bottom-con .money {
  font-weight: bold;
  float: right;
}
.picList-box .thumbnail .bottom-con .classfiy-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-size: 0.75em;
  padding: 1px 5px;
}
.picList-box .thumbnail .bottom-con .time {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 2;
  text-align: center;
  line-height: 22px;
}
.thumbnail {
  position: relative;
}
.tuangou-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 80px;
  height: 80px;
}
.tg-ing {
  background: url("../images/tuangou-icon.png") 0 0 no-repeat;
}
.tg-success {
  background: url("../images/tuangou-icon-success.png") 0 0 no-repeat;
}
.picList-box2 {
  background: #fff;
  padding: 15px 10px;
  margin: 40px auto 0;
}
.picList-box2 .thumbnail .bottom-con {
  padding-top: 50px;
}
.pageBox {
  text-align: center;
  margin: 0 auto 10px;
  height: 30px;
  overflow: hidden;
}
.pageBox .page-icon {
  width: 30px;
  height: 3px;
  display: inline-block;
}
.pageBox .page-icon a {
  display: block;
}
.pageBox .page-num {
  line-height: 25px;
  border: 1px solid #9d9d9e;
  margin: 0 5px;
  display: inline-block;
}
.pageBox .page-num a {
  padding: 0px 8px;
  border-right: 1px solid #9d9d9e;
  color: #37a9e7;
  display: inline-block;
}
.pageBox .page-num a:last-child {
  border-right: 0;
}
.pageBox .page-num a.cur {
  color: #9d9d9e;
}
.pageBox .icon-prev {
  background: url("../images/page-icon-pre.png") 0 0 no-repeat;
}
.pageBox .icon-next {
  background: url("../images/page-icon-next.png") 0 0 no-repeat;
}
/*精品列表页*/
.main-content-box {
  margin: 40px 0;
  overflow: hidden;
}
.main-conten-top {
  position: relative;
  display: block;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
}
.lg-header {
  padding-left: 10px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  float: left;
}
.margin-header {
  width: 100%;
  margin-top: 52px;
}
/*常见问题*/
.text-List-box {
  clear: both;
  padding: 10px 0;
  border-top: 1px solid #dcdcdc;
  overflow: hidden;
  position: relative;
}
.text-List-con {
  width: 80%;
  float: left;
}
.text-List-con h3 {
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}
.text-List-con p {
  line-height: 20px;
}
.tg-apply-btn {
  background: #f39800;
  border: #f39800;
  border-radius: 15px;
  padding: 6px 20px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 10px;
  right: 10px;
  float: right;
}
/*商品详情*/
.detail-main-con {
  margin: 10px 0;
}
.detail-main-con .thumbnail {
  background: none;
  border-radius: 0px;
}
.detail-main-con .thumbnail img {
  border: 0;
  width: 150px;
  height: 220px;
}
.detail-main-con .authors {
  padding: 10px;
  font-weight: bold;
  color: #3a5f98;
  font-size: 16px;
}
.detail-main-con .author-box {
  width: 100%;
  overflow: hidden;
}
.detail-main-con .author-box span {
  font-size: 12px;
  padding: 11px 10px;
}
.detail-main-con .author-box .fl-w {
  width: 20%;
  padding: 11px 0;
}
.detail-main-con .author-box .fr-w {
  width: 79%;
}
.detail-main-con .author-box .fr-w span {
  width: 100%;
  display: inline-block;
}
.detail-main-con .author-box2 .fl-w,
.detail-main-con .author-box2 .fr-w {
  width: auto;
}
.detail-main-con .author-box2 .fl-w {
  margin-right: 5px;
}
.detail-main-con .author {
  border: 1px solid #ddd;
  padding: 10px;
}
.detail-main-con .gs,
.detail-main-con .money {
  padding: 5px 0px;
  display: block;
  text-align: center;
}
.detail-main-con .gs {
  width: 100px;
  border: 1px solid #ddd;
}
.detail-main-con .money {
  border: 1px solid #9d9d9e;
  font-size: 18px;
  font-weight: bold;
  width: 150px;
}
.detail-main-con .gray-bg {
  background: #eee;
}
.detail-main-con .sp-pic-big img {
  width: 190px;
  height: 280px;
}
.spcs-hide {
  display: none;
}
.pl-list-box .list-group {
  padding: 5px;
  margin-bottom: 0;
}
.pl-list-box .list-group li {
  width: 100%;
  line-height: 40px;
}
.pl-list-box .list-group strong {
  font-size: 18px;
}
.pl-list-box .list-group .mc {
  width: 70px;
  display: inline-block;
  color: #3a5f98;
}
.pl-list-box .list-group .btn {
  float: right;
  background: #86b942;
  color: #fff;
  font-size: 16px;
}
.cp-intro .panel-heading {
  font-weight: bold;
}
.cp-intro h4 {
  font-size: 18px;
  line-height: 25px;
}
.cp-intro p {
  padding: 4px;
}
.detail-main-box {
  margin: 20px auto;
}
.problem-tj-box {
  overflow: hidden;
  margin: 50px auto 10px;
}
.problem-tj-box .form {
  float: right;
}
.problem-tj-box .left {
  display: inline-block;
  background: #f5f5f5;
  padding: 5px 10px 7px;
  line-height: 1.42857143;
  border: 1px  solid #ccc;
  border-radius: 4px;
  font-weight: bold;
}
.problem-tj-box .form-inline .form-control {
  width: 400px;
}
.problem-tj-box .btn {
  font-weight: bold;
}
/*需求登记*/
.need-register-box {
  overflow: hidden;
}
.need-register-box h3 {
  padding: 10px 0;
}
.need-register-box p {
  line-height: 20px;
}
.search-box-little {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.search-box-little .left {
  background: #c9c9c9;
  display: inline-block;
  padding: 5px 10px 7px;
  line-height: 1.42857143;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
  width: 20%;
  text-align: center;
}
.search-box-little .form-group {
  margin-left: -5px;
  width: 80%;
}
.search-box-little .form-group input {
  width: 100%;
}
.search-box-little .little-word {
  font-size: 12px;
}
/*表格*/
.table-default-box {
  margin-bottom: 10px;
}
.table-default-box tr,
.table-default-box th {
  text-align: center;
}
.table-default-box td {
  color: #044484;
}
.table-default-box em {
  width: 17px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
.table-default-box thead em {
  background: url("../images/iphone-icon.png") 0 -37px no-repeat;
}
.table-default-box tbody em {
  background: url("../images/iphone-icon.png") 0 0 no-repeat;
}
/*底部*/
.footerBox {
  height: 34px;
  line-height: 34px;
  background: #b3e2f7;
  border-radius: 5px;
  text-align: center;
  margin: 15px auto 10px;
}
.footerBox p {
  color: #37a9e7;
  font-weight: bold;
}
.footerBox p span {
  color: #fff;
  border-radius: 5px;
  background: #37a9e7;
  padding: 2px 5px;
}
/*立即购买 加入购物车 按钮*/
.buy-button-inline {
  margin-top: 20px;
}
.buy-button-inline .btn {
  font-size: 18px;
  padding: 6px 25px;
}
.buy-button-inline2 .btn {
  border-radius: 0;
  padding: 6px 20px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin: 0 5px;
}
.buy-button-inline2 .btn-orange2 {
  background: #f39800;
}
.buy-button-inline2 .btn-green2 {
  background: #86b942;
}
.btn-orange {
  background: #f95902;
  color: #fff;
}
.btn-green {
  background: #86b942;
  color: #fff;
}
.btn-orange-little {
  background: #ffe2cc;
  color: #f95902;
}
.buy-btn-gwc {
  text-align: center;
}
.buy-btn-gwc .btn {
  font-weight: bold;
}
.buy-btn-gwc em {
  width: 30px;
  height: 22px;
  display: inline-block;
  background: url("../images/gwc-icon.png") 0 0 no-repeat;
  vertical-align: middle;
}
.buy-button-hs-money {
  border: 1px solid  #ddd;
  background: #f5f5f5;
  padding: 10px;
  text-align: center;
}
.buy-button-hs-money .money2 {
  text-align: center;
  font-size: 18px;
  color: #3a5f98;
  font-weight: bold;
}
.buy-button-hs-money .btn {
  font-size: 18px;
}
.shadow-4 {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.shadow-2 {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.detail-main-con .radius {
  border-radius: 4px;
}
.margin-bot {
  margin-bottom: 20px;
}
.lines-box {
  width: 100%;
  height: 5px;
  background: #f5f5f5;
  clear: both;
}
.lines-box-l {
  width: 100%;
  height: 1px;
  background: #dcdcdc;
}
.gray-bg {
  background: #f5f5f5;
}
.main-color {
  color: #37a9e7;
}
.red {
  color: #d70c30;
}
.green {
  color: #22ac38;
}
.orange {
  color: #f95902;
}
.little-word {
  color: #9d9d9e;
}
.item2,
.item3 {
  display: none;
}
.green-bg {
  background: #22ac38;
}
.red-bg {
  background: #d70c30;
}
.orange-bg {
  background: #f95902;
}
.blue-bg {
  background: #37a9e7;
}
.checkbox-inline,
.radio-inline {
  padding-left: 0;
}
/*超小屏*/
/*超小屏*/
/*小屏*/
/*中屏*/
/*大屏*/
@media screen and (max-device-width: 767px) {
  body {
    font-size: 14px !important;
  }
  .yd-main button {
    font-size: 1rem;
  }
  /*登录页*/
  .add-nav-height {
    height: 60px;
  }
  .nav-wrap .ebooks-logo {
    padding-top: 5px;
    height: 50px;
  }
  .nav-wrap .login-txt {
    font-size: 14px;
    padding-top: 8px;
  }
  .formBox1 {
    width: 94%;
  }
  .formBox1 .col-xs-3 {
    padding-right: 0;
  }
  .formBox1 .col-xs-8 {
    padding-left: 0;
    width: 65%;
  }
  .formBox1 .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
  }
  .formBox2 {
    margin: 20% auto;
  }
  /*首页导航*/
  .mianNav-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
  }
  .navbar-xs .right-button {
    position: absolute;
    top: 0px;
    right: 10px;
    width: auto;
  }
  .navbar-xs .right-button .btn-tc {
    float: right;
    background: none;
    border: none;
    line-height: 50px;
    font-size: 16px;
  }
  .navbar-xs .right-button .btn-menu {
    float: left;
  }
  .navbar-xs .right-button .navbar-toggle {
    padding: 4px 0;
    margin-right: 10px;
  }
  /*s首页 搜索*/
  .searchBox {
    width: 96%;
    padding: 0 3%;
  }
  .searchBox-xs .navbar-form {
    padding: 5px 15px;
    position: relative;
    margin: 0 auto;
  }
  .searchBox-xs .navbar-form .form-group {
    width: 100%;
  }
  .searchBox-xs .navbar-form .search-input {
    height: 30px;
    border-radius: 15px;
    background: #eff0f1;
  }
  .searchBox-xs .navbar-form .btn {
    background: none;
    position: absolute;
    top: 0px;
    right: 5px;
  }
  .searchBox2-xs {
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0;
  }
  .searchBox2-xs .search-input {
    height: 25px;
  }
  .searchBox2-xs .navbar-form {
    padding: 3px 3px 0 0;
  }
  .searchBox2-xs .navbar-form .search-icon {
    background-size: 25px 21px;
    width: 25px;
    height: 21px;
  }
  .searchBox2-xs .navbar-form .btn {
    right: 0px;
  }
  .searchBox2-xs-fixed {
    width: 100%;
    padding: 5px 3%;
    position: fixed;
    top: 50px;
    left: 0;
    z-index: 999;
    background: #fff;
  }
  /*书籍列表*/
  .picList-box {
    padding: 0 1%;
    margin: 15px auto;
  }
  .picList-box .thumbnail .bottom-con-xs {
    padding-top: 10px;
  }
  .picList-box .thumbnail .bottom-con-xs .classfiy-btn {
    position: absolute;
    top: 0;
    left: 0;
    bottom: initial;
    z-index: 1;
  }
  .picList-box .thumbnail .bottom-con-xs .money {
    float: left;
  }
  /*底部*/
  .footerBox {
    margin: 0 auto 0;
    border-radius: 0px;
  }
  .tuangou-icon {
    width: 60px;
    height: 60px;
  }
  .tg-ing {
    background-size: 60px 60px;
  }
  .tg-success {
    background-size: 60px 60px;
  }
  .picList-box2 {
    padding: 15px 0;
    margin: 0 0;
  }
  .picList-box2 .thumbnail .bottom-con-xs {
    padding-top: 0px;
  }
  .picList-box2 .thumbnail .bottom-con-xs .classfiy-btn {
    position: relative;
  }
  .picList-box2 .thumbnail .bottom-con-xs .money {
    float: none;
    display: block;
  }
  .picList-box2 .thumbnail .bottom-con-xs .time {
    position: relative;
    bottom: 0;
    right: 0;
    float: none;
    display: block;
    text-align: left;
  }
  .main-content-box {
    margin: 0 auto;
  }
  .text-List-box .text-List-con {
    float: none;
    width: 100%;
  }
  .text-List-box .text-List-con p {
    padding: 3px 10px;
  }
  .text-List-box .tg-apply {
    padding: 0 0 10px;
    margin-top: 20px;
  }
  .text-List-box .tg-apply-btn {
    float: none;
    width: 60%;
    position: relative;
    bottom: 0;
    left: 50%;
    margin-left: -30%;
  }
  /*商品详情页*/
  .cp-intro-xs {
    padding: 0 5px;
  }
  .detail-main-con .author-box .fl-w {
    width: 12%;
  }
  .detail-main-con .author-box .fr-w {
    width: 86%;
  }
  .detail-main-con .author-box2 .fl-w,
  .detail-main-con .author-box2 .fr-w {
    width: auto;
  }
  .problem-tj-box .form {
    float: none;
  }
  .problem-tj-box .left {
    margin-bottom: 10px;
  }
  .problem-tj-box .form-inline .form-group {
    width: 80%;
    float: left;
  }
  .problem-tj-box .form-inline .form-group .form-control {
    width: 100%;
  }
  .problem-tj-box .form-inline .btn {
    float: left;
    margin-left: 5px;
  }
  /*回到顶部*/
  .backTop-box {
    width: 40px;
    height: 40px;
    background: url("../images/back-top.png") 0 0 no-repeat;
    position: fixed;
    right: 10px;
    bottom: 50px;
    display: none;
    z-index: 999;
  }
  /*需求登记 搜索*/
  .search-box-little .form-group {
    width: 96%;
    margin: 5px 0;
  }
  .search-box-little .left {
    width: 50%;
  }
  /*a按钮*/
  .buy-button-inline2 {
    float: none;
    text-align: center;
    width: 94%;
  }
  .thumbnail {
    margin-bottom: 10px;
  }
  .thumbnail img {
    width: 150px;
    height: 220px;
  }
  .marginlr-xs {
    margin: 10px 2%;
  }
  .lg-header {
    font-size: 16px;
  }
  .margin-bot {
    margin-bottom: 10px;
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
  .col-padding-no .col-xs-1,
  .col-padding-no .col-xs-10,
  .col-padding-no .col-xs-11,
  .col-padding-no .col-xs-12,
  .col-padding-no .col-xs-2,
  .col-padding-no .col-xs-3,
  .col-padding-no .col-xs-4,
  .col-padding-no .col-xs-5,
  .col-padding-no .col-xs-6,
  .col-padding-no .col-xs-7,
  .col-padding-no .col-xs-8,
  .col-padding-no .col-xs-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .detail-main-box .col-lg-1,
  .detail-main-box .col-lg-10,
  .detail-main-box .col-lg-11,
  .detail-main-box .col-lg-12,
  .detail-main-box .col-lg-2,
  .detail-main-box .col-lg-3,
  .detail-main-box .col-lg-4,
  .detail-main-box .col-lg-5,
  .detail-main-box .col-lg-6,
  .detail-main-box .col-lg-7,
  .detail-main-box .col-lg-8,
  .detail-main-box .col-lg-9,
  .detail-main-box .col-md-1,
  .detail-main-box .col-md-10,
  .detail-main-box .col-md-11,
  .detail-main-box .col-md-12,
  .detail-main-box .col-md-2,
  .detail-main-box .col-md-3,
  .detail-main-box .col-md-4,
  .detail-main-box .col-md-5,
  .detail-main-box .col-md-6,
  .detail-main-box .col-md-7,
  .detail-main-box .col-md-8,
  .detail-main-box .col-md-9,
  .detail-main-box .col-sm-1,
  .detail-main-box .col-sm-10,
  .detail-main-box .col-sm-11,
  .detail-main-box .col-sm-12,
  .detail-main-box .col-sm-2,
  .detail-main-box .col-sm-3,
  .detail-main-box .col-sm-4,
  .detail-main-box .col-sm-5,
  .detail-main-box .col-sm-6,
  .detail-main-box .col-sm-7,
  .detail-main-box .col-sm-8,
  .detail-main-box .col-sm-9,
  .detail-main-box .col-xs-1,
  .detail-main-box .col-xs-10,
  .detail-main-box .col-xs-11,
  .detail-main-box .col-xs-12,
  .detail-main-box .col-xs-2,
  .detail-main-box .col-xs-3,
  .detail-main-box .col-xs-4,
  .detail-main-box .col-xs-5,
  .detail-main-box .col-xs-6,
  .detail-main-box .col-xs-7,
  .detail-main-box .col-xs-8,
  .detail-main-box .col-xs-9 {
    padding-left: 2%;
    padding-right: 2%;
  }
}
/*超小屏*/
@media screen and (max-device-width: 320px) {
  .thumbnail {
    padding: 4px 0;
  }
  .thumbnail .caption {
    padding: 0 4px;
  }
  .picList-box .col-xs-1,
  .picList-box .col-xs-10,
  .picList-box .col-xs-11,
  .picList-box .col-xs-12,
  .picList-box .col-xs-2,
  .picList-box .col-xs-3,
  .picList-box .col-xs-4,
  .picList-box .col-xs-5,
  .picList-box .col-xs-6,
  .picList-box .col-xs-7,
  .picList-box .col-xs-8,
  .picList-box .col-xs-9 {
    padding-left: 3px;
    padding-right: 3px;
  }
  .picList-box .thumbnail .caption {
    padding: 9px 4px 0;
  }
}
